.slick-slider
{
  position: fixed;
  width: 90%;
  height: 94%;
  left: 5%;
  right: 5%;
  top: 2%;
  bottom: 2%
}

.slick-slide {
  height: 100%;
}

.slick-list {
  height: 100%;
}

.slick-track {
  height: 100%;
}
