.bar {
    position: fixed;
  width:100%;
  background-color: #213c52;
  color: #c5b792;
    height: 9.1%;
  border-top: 5px solid #c5b792;
    border-bottom: 5px solid #c5b792;
  border-top-style:double;
  border-bottom-style:double;

}

.topBar
{
  top: 0px;
}

.bottomBar
{
  bottom: 0px;
}

.title {
  width: 80%;
  display: inline-block;
}

.react-countdown-clock {
  top: 0;
  position: absolute;
  float: right;
}
