.bar {
  position: fixed;
  width:100%;
  color: #e1ce7a;

  margin: 0px;
  text-align: center;
}

.topBar {
  top: 0px;
    height: 9.1%;
      font-family: 'Playfair Display';

}

.bottomBar {
  bottom: 0px;
    height: 5%;
}

.title {
  width: 70%;
  display: inline-block;
  margin: 0px;
}

.react-countdown-clock {
  padding-top: 1px;
  top: 0;
  position: absolute;
  float: right;
}

.stats{
  margin: 0px;
}

.retire{
   border-radius: 50%;
   background-color: #e1ce7a;
   color: #213c52;
   float: right;
   position: absolute;
   right: 0;
   top: 0;
   height: 60px;
   width: 60px;
   box-shadow: 0 2px 2px #777;
   cursor: pointer;
   display:table;

}

.retireText{
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}
