.shop
{
  background-color: #215237 ;
}

.plot
{

  background-color: #213c52;

}

.item {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  border: 5px solid #c5b792;
  border-style:double;
  color: white ;
}

.image
{
  border: 5px solid #c5b792;
  border-style:double;
   border-radius: 50%;
  margin: 0 auto;
  height: 30%;
  width: 50%;

  background-size: cover;
}

.image-shop{
    background-image: url('001.jpg');
}

.image-plot{
    background-image: url('002.jpg');
}

.button {
  background-color: #1a1d20;
  margin: 0 auto;
  width: 60%;
  padding: 20px;
  color: #c5b792;
  font-size: 20px;
}

.infobox{
    background-color: #c5b792;
    color: #1a1d20;
    padding: 20px;
    margin: 0 auto;
    width: 60%;
      font-size: 20px;
}

.descbox{
  font-size: 20px;
  margin-bottom: 20px;
}
